body {
    padding: 72px;
    background-color: rgb(250, 250, 250);
    font-family: "Noto Sans TC";
    font-weight: 700;
}

table,
td,
th {
    border: 1px solid #ddd;
}

table {
    border-collapse: collapse;
    width: 100%;
}

#table {
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(200, 200, 200, 0.1);
}

input {
    font-size: 20px;
    border: 0;
    width: 80px;
    text-align: center;
    width: 60%;
    background-color: rgba(0, 0, 0, 0);
    padding: 14px;
}

.colored-background {
    background-color: rgba(245, 245, 245, 1);
}

.setting {
    border: 1px solid #ddd;
    background-color: white;
    padding: 16px;
    border-radius: 6px;
}

.topnav {
    overflow: hidden;
    vertical-align: middle;
}

.topnav p {
    margin: 0px;
}

.topnav-left {
    float: left;
}

.topnav-right {
    float: right;
}
