body {
    text-align: center;
    padding: 36px;
    overflow: hidden;
}

button {
    border: 1px solid #ddd;
    background-color: white;
    padding: 16px;
    border-radius: 6px;
}

table,
td,
th {
    border: 1px solid #ddd;
}

table {
    border-collapse: collapse;
    width: 100%;
}

input {
    font-size: 20px;
    border: 0;
    width: 80px;
    text-align: center;
    width: 60%;
    background-color: rgba(0, 0, 0, 0);
    padding: 14px;
}

.colored-background {
    background-color: rgba(245, 245, 245, 1);
}
